p {
	color: black;
	font-family: 'Changa', sans-serif; 
}

/* button {
	padding: 10px;
	color: blue;
} */

.potato {
	color: red;
}

.tomato{
	margin: 0;
}
.s3 {
	background-color: red;
	height: 400px;

}
.s9 {
	background-color: blue;
	height: 100vh;

}